@charset "utf-8";
:root{
    --header-width : 16rem;
    font-family: 'Pretendard GOV','맑은고딕','나눔고딕', '돋움', sans-serif;
}
html {font-size:62.5%;}
body {font-size:1.6rem;}
@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 600;
    src: local('Noto Serif CJK KR'), local('Source Han Serif K'), local('Source Han Serif'), local('Noto Serif CJK'), local('Noto Serif'), url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-Bold-subset.woff) format('woff'),url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-Bold-subset.woff2) format('woff2'),  url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Katter/7392ea08/fonts/NotoSerifCJKkr-Bold-subset.otf) format('otf');
}
@media only screen and (max-width: 768px) {
    html {font-size:56.3%;}
}
@media only screen and (min-width: 768px) and (max-width: 1239px){
    html {font-size:56.3%;}
}
@media only screen and (max-width: 767px) {
    html {font-size:50%;}
}
.skip-link {position: fixed;width: 14rem;top: -4rem;left: 1rem;background: #fff;padding: 1rem 2rem;color: #383873;font-weight: 500;font-size: 1.4rem;text-align: center;transition: top 0.3s;z-index: 100;}
.skip-link:focus {top: 1rem;}
.blind {
	overflow:hidden;
	font-size:0;
	line-height:0;
	position:absolute;
	height:0;
	width:0;
}
:focus {outline: 0.2rem solid rgba(0, 0, 0, 0.3);outline-offset: .2rem;border-radius: .5rem;}
.img {overflow: hidden;}
.img img {display: block; width: 100%; height: 100%; object-fit: cover;}

.inner {max-width: 1640px; width: 100%; padding: 0 2rem;}

/*Header 영역*/
header {display: none;}

/*Footer 영역*/
footer {border-top:1px solid #a7a7aa;}
.f_menu_wrap {display: flex; justify-content: flex-end; padding-right: 10.5rem;}
.f_menu_wrap .f_menu:first-child button {border-left: 1px solid #cecfd2;}
.f_menu_wrap .f_menu button {width: 41rem; height: 6rem; padding: 0 2.5rem; text-align: left; border-right: 1px solid #cecfd2;}
.f_content {padding: 5rem 10.5rem 4rem; display: flex; align-items: flex-end; border-top:1px solid #a7a7aa;}
.f_content .f_l {}
.f_content .f_l .f_info {margin-top: 2rem; display: flex;}
.f_content .f_l .f_info p {line-height: 2rem; color: #333;}
.f_content .f_l .f_info p ~ p {position: relative; margin-left: 8px; padding-left: 8px;}
.f_content .f_l .f_info p ~ p::before {display: block; content: ''; width: 1px; height: 1.7rem; position: absolute; left: 0; top: 1px; background-color: #dcdcdc;}
.f_content .f_l .f_info p strong {font-weight: 700;}
.f_content .f_r {margin-left: auto;}
.f_content .f_r .f_link {display: flex; justify-content: flex-end; gap:5rem}
.f_content .f_r .f_link a {font-weight: 700; color: #111;}
.f_content .f_r .copyright {font-size: 1.4rem; font-weight: 500; text-align: right; line-height: 2rem; color: #7a7a7a; margin-top: 1.6rem;}

.go_top {position:fixed; right:2rem; bottom:2rem; opacity:0; visibility:hidden; border: 1px solid rgba(133,136,148,0.4); border-radius: 50%; width: 4.3rem; height: 4.3rem; background:#fff url(../images/icons/icon_top.svg) no-repeat center; background-size: 1.3rem auto;}
.go_top {transition:opacity .2s, visibility .2s;}
.go_top.active {opacity:1; visibility:visible;}